<!DOCTYPE html>
<html>
<title>華紀工程股份有限公司</title>
<head> 
    <div>
        <h2>
            <img src="logo.png" style="width:200px" />
                <span style="margin-left: 150px">首頁</span>
                <span style="margin-left: 50px">關於我</span>
                <span style="margin-left: 50px">商品介紹</span>
                <span style="margin-left: 50px">消防檢修申報</span>
                <span style="margin-left: 50px">工程實績</span>
                <span style="margin-left: 50px">知識分享</span>
                <span style="margin-left: 50px">最新消息</span>
                <span style="margin-left: 50px">人才招募</span>
                <span style="margin-left: 50px">聯絡我們</span>
        </h2>
    </div>
</head>
<body>
<div class="container body-content">
    @RenderBody()
    <footer>
        <p>地址：29341 新北市鶯歌區欣欣街七棟1號 &nbsp;&nbsp;&nbsp;email:yatai@@msahinet.net</p>
        <p>TEL：(02)8677-8441 &nbsp;&nbsp;&nbsp; FAX：(02)8677-8440</p>
    </footer>
</div>

</body>

</html>
