<!DOCTYPE html>
@{
    Layout = "_Layout";
}
<html>
<body>
<div>
    <style>
        .tableClass {
            text-align: center;
            width: auto;
            height: 50vh;
            background: #AA6125;
            margin-top: 3%;
        }

            .tableClass td {
                border-radius: 50px;
                font-size: 20px;
            }
            .tableClass tr {
                border: 5px solid white;
                border-bottom-width: 10px;
            }
            .tableClass p {
                color: white;
                padding-bottom: 10px;
                padding-top: 10px;
                padding-right: 10px;
                padding-left: 10px;
            }
    </style>
    <table class="tableClass" align ="left">
        <tr>
            <td >
                <p>檢修方式
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>圖面繪製方式
                </p>
</td>
        </tr>
        <tr>
            <td>
                <p>應備證明文件
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>檢修及申報期限
                </p>
</td>
        </tr>
        <tr>
            <td>
                <p>注意事項</p>
</td>
        </tr>
    </table>

    @RenderBody()

</div>

</body>

</html>
