
@{
    ViewData["Title"] = "關於我們";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body  style="height:88vh">
    <div>
        <div style="text-align:center">
            <h1>公司簡介</h1>
            <img src="~/images/AboutUs.jpg" style="width:76vw;height:40vh" />
        </div>
        <div style="">

            <br />
            <div style="width:60vw;margin-left:20vw;text-align:center;">
                <h3>
                    本公司成立於民國九十一年，專業銷售各種消防安全設備及消 防工程之設計、施工、保養、申報、代理進口消防設備消防設備等業務。一直秉持著以高品質、低價格服務客戶，不為爭業績、爭低價而犧牲品質。以「服務第一，專業第一」為企業精神，致力提供盡善盡美的服務品質。
                </h3>
                <br />
                <h1>
                    營業項目
                </h1>
            </div>
            <h2>
                <span style="position:absolute;margin-left:55vw">
                    <li>
                        消防安全設備檢修申報
                    </li>
                    <li>
                        消防安全設備批發零售
                    </li>
                    <li>
                        消防安全設備安裝工程
                    </li>
                    <li>
                        室內裝潢、室內輕鋼架工程
                    </li>
                    <li>
                        建築物公共安全檢查簽證
                    </li>
                </span>
                <div style="margin-left:28vw">
                    <span style="position:relative;">
                        <li>
                            照明設備安裝工程
                        </li>
                        <li>
                            自動控制設備工程
                        </li>
                        <li>
                            儀器、儀表安裝工程
                        </li>
                        <li>
                            理貨包裝
                        </li>
                        <li>
                            電器承裝
                        </li>
                        
                    </span>
                </div>
            </h2>
           
        </div>
    </div>
</body>