<html>
<body>
<div style="height: 80vh;width: 100vw">
    <img src="/images/Banner.jpg" style="height: 40vh;width: 100vw">
    <div style="margin-top: 30px;height: auto">
        <table align=left>
            <tr>
                <td>
                    <img src="/images/HJ_QR.jpg" style="width:100px">
                </td>
            </tr>
            <tr>
                <td>Line客服服務ID<br />XNS1817S</td>
            </tr>
            <tr>
                <td>PC HOME連結</td>
            </tr>
        </table>
        <table align="center">
            <tr>
                <td width="230px"><font size="5">Dafo巴士滅火設備</td>
                <td width="100px"><font size="5">商品介紹</td>
                <td width="170px"><font size="5">消防檢修申報</td>
                <td width="130px"><font size="5">工程實績</td>
                <td width="100px"><font size="5">最新消息</td>
            </tr>
            <tr>
                <td align="center"><img src="QR.png" style="width:100px"><br />巴士自動滅火系統<br />(經 銷 商)<br /><img src="/images/Dafo_QR.jpg" style="width:100px"></td>
                <td valign="top" style="line-height:28px;">火警廣播設備<br />消防箱主要配件<br />避難逃生設備<br />排煙設備<br />自動灑水滅火設備<br />廚房滅火設備</td>
                <td valign="top" style="line-height:28px;">檢修方式<br />圖面繪製方式<br />應備證明文件<br />檢修及申報期限<br />注意事項</td>
                <td valign="top" style="line-height:28px;">公家機關<br />教育機關<br />醫療機關<br />金融機關<br />飯店、旅館<br />公司、工廠<br />甲類場所</td>
                <td valign="top" style="line-height:28px;">相關連結<br />消防法規<br />消防署法令解釋</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>