
@{
    ViewData["Title"] = "Recruit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div align="center" style="font-size: 30px">
        人才招募
        <table width=100%>
            <tr>
                <td align="right">
                    福利制度:
                </td>
                <td>
                    1.周休(工地人員須配合現場排休)
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">
                    獎金/禮品類:
                </td>
                <td>
                    <p>
                        1.年終獎金
                    </p>
                    <p>
                        2.各類業績及工程獎金
                    </p>
                    <p>
                        3.其它獎金
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">
                    保險類:
                </td>
                <td>
                    <p>
                        1.勞保
                    </p>
                    <p>
                        2.健保
                    </p>
                    <p>
                        3.團保
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right">
                    補助類:
                </td>
                <td>
                    1.退職金提撥
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">
                    休閒類:
                </td>
                <td>
                    <p>
                        1.國內外旅遊
                    </p>
                    <p>
                        2.部門聚餐
                    </p>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">
                    制度類:
                </td>
                <td>
                    <p>
                        1.員工制服
                    </p>
                    <p>
                        2.完整的教育訓練 (含國外)
                    </p>
                    <p>
                        3.順暢的升遷管道
                    </p>
                    <p>
                        4.年假
                    </p>
                </td>
            </tr>
        </table>
        <table width=96% align="center">
            <tr>
                <td align="center">
                    職務名稱
                </td>
                <td align="center">
                    需求人數
                </td>
                <td align="center">
                    學歷
                </td>
                <td align="center">
                    經歷
                </td>
                <td align="center">
                    待遇
                </td>
                <td align="center">
                    備註
                </td>
                <td align="center">
                    應徵
                </td>
            </tr>
            <tr>
                <td align="center">
                    現場工程師
                </td>
                <td align="center">
                    1
                </td>
                <td align="center">
                    大專以上
                </td>
                <td align="center">
                    具水電,消防施作經驗
                </td>
                <td align="center">
                    面議
                </td>
                <td align="center">
                    享勞健保
                </td>
                <td align="center">
                    我要應徵
                </td>
            </tr>
            <tr>
                <td align="center">
                    行政助理
                </td>
                <td align="center">
                    1
                </td>
                <td align="center">
                    大專以上
                </td>
                <td align="center">
                    相關經驗
                </td>
                <td align="center">
                    面議
                </td>
                <td align="center">
                    享勞健保
                </td>
                <td align="center">
                    我要應徵
                </td>
            </tr>
            <tr>
                <td align="center">
                    設計繪圖
                </td>
                <td align="center">
                    1
                </td>
                <td align="center">
                    大專以上
                </td>
                <td align="center">
                    相關經驗
                </td>
                <td align="center">
                    面議
                </td>
                <td align="center">
                    享勞健保
                </td>
                <td align="center">
                    我要應徵
                </td>
            </tr>
        </table>
    </div>
</body>